<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phân Module cho Group</title>
    <link rel="stylesheet" href="/css/access-control_edit.css">
</head>

<body>
    <div class="container">
        <h1>Authorize Module for Group</h1>
        <div class="container">
            <h2>Modules</h2>
            <div class="modules">
                <select name="cars" id="modules">
                    
                </select>
            </div>
            <h2>Group</h2>
            <div class="groups"></div>
        </div>
    </div>
</body>
<script src="/js/loadData.js"></script>
<script src="/js/HandleAuthorizeGroup.js"></script>
</html>