<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_access-control.css">
    <title>Add Access Control</title>
</head>

<body>
    <div class="wrapper">
        <label for="dropdown-select" class="form-title">Choose Module Group or Function:</label>
        <select id="dropdown-select" name="dropdown-select">
            <option value="function">Function</option>
            <option value="module">Module</option>
            <option value="group">Group</option>
        </select>

        <input type="text" class="enter-function" placeholder="Enter function">
        <input type="text" class="enter-module_function" placeholder="Enter module funtion">
        <input type="text" class="enter-group" placeholder="Enter group">
        <input type="text" class="enter-module" placeholder="Enter module">

        <div class="btn-active">
            <button class="btn-add">Add</button>
            <button class="btn-back">Back</button>
        </div>
    </div>


    <script src="/js/add_access-control.js"></script>
    <script src="/js/AddPermission.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>