<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/stylesdash.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <title>DashBoard</title>
</head>

<body>
  <header>
    <!-- Nabar -->
    <div class="navbar">
      <div class="logo">
        <img src="/icon/LOGO.png" alt="" />
      </div>
      <ul class="menu">
        <li class="btn n1" id="dash">
          <img src="/icon/icon-btn1.png" alt="" /><span>DashBoard</span>
        </li>
        <li class="btn n2" id="earnings">
          <img src="/icon/icon-btn2.png" alt="" /><span>Total earnings </span>
        </li>
        <li class="btn n3" id="vacationdays">
          <img src="/icon/icon-btn3.png" alt="" /><span>Vacation days</span>
        </li>
        <li class="btn n4 active" id="benefits">
          <img src="/icon/icon-btn4.png" alt="" /><span>Average benefits paid</span>
        </li>
        <li class="btn n7" id="access-control">
          <img src="/icon/icon-btn6.png" alt="" /><span>Access Control</span>
        </li>
        <li class="btn n6 " id="employee-management">
          <img src="/icon/icon-btn6.png" alt="" /><span>Employee Management</span>
        </li>

        <div class="box-child">
          <button class="btn-view">View</button>
          <button class="btn-add">Add</button>
        </div>

        <li class="btn n5" id="logout">
          <img src="/icon/icon-btn5.png" alt="" /><span>Logout</span>
        </li>
      </ul>
    </div>
    <!-- main content -->
    <div class="main-content">
      <!-- Logo CEO MEMO -->
      <section class="header">
        <h1 class="name-project">H-P system</h1>
        <span onclick="getAllNotification();">
          <img id="alert-btn" src="/icon/Vector.png" alt="" />
          <span class="number-info"></span>
        </span>
      </section>
      <!-- Icon Alert -->
      <div class="alert">
        <section class="alert-box">
          <section class="title-alert">
            <span>Important notification</span>
          </section>
          <ul class="box">
          </ul>
        </section>
      </div>
      <!-- Average benefits paid -->
      <div class="content ui4">
        <section class="fillter hiii">
          <div class="dropdown">
            <div class="btn">
              <button class="dropbtn">Stackhoders</button>
              <img src="/icon/dropdown.png" alt="" />
            </div>
            <div class="dropdown-content">
              <a href="#" class="option">Non-Shareholder</a>
              <a href="#" class="option">Shareholder</a>
            </div>
          </div>
          <button style="
                padding: 5px 15px;
                border: none;
                background-color: aqua;
                color: white;
                font-weight: bold;
                border-radius: 5px;
              " onclick="getData();">
            OK
          </button>
        </section>
        <div class="table-content">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Fist Name</th>
                <th>Last Name</th>
                <th>Plan Name</th>
                <th>Deductable</th>
                <th>Percentage_Copay</th>
              </tr>
            </thead>
            <tbody class="Benefit-table-data"></tbody>
          </table>
        </div>
        <div class="summary">
          <div class="summary_chart">
            <div style="width: 400px; height: 400px">
              <canvas id="pie-chart"></canvas>
            </div>
          </div>
          <div class="summary_total">
            <h1 class="summary-span">Average</h1>
            <label style="display: flex;align-items: center;
            padding-left: 20px;" class="summary-ip"></label>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script src="/js/chart.min.js"></script>
  <script src="js/ShowLabelCurrentBirthdaysMonth.js"></script>
  <script src="/js/ShowLabelExceededVacationDays.js"></script>
  <script src="/js/ShowLabelCertainDaysAniversary.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/ShowBenefitPlan.js"></script>
</body>

</html>