<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/change">
        <label for="personal_id">Personal_Id</label>
        <input type="text" name="personal_id">
        <label for="Plan name">Plan name</label>
        <input type="text" name="plan name">
        <label for="Deductable">Deductable</label>
        <input type="text" name="deductable">
        <label for="copay">PERCENTAGE_COPAY</label>
        <input type="text" name="PERCENTAGE_COPAY">
        <button type="submit">OK</button>
    </form>
</body>
</html>