<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesdash.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>DashBoard</title>
</head>

<body>
    <header>
        <!-- Nabar -->
        <div class="navbar">
            <div class="logo">
                <img src="/icon/LOGO.png" alt="">
            </div>
            <ul class="menu">
                <li class="btn n1" id="dash"><img src="/icon/icon-btn1.png" alt=""><span>DashBoard</span></li>
                <li class="btn n2" id="earnings"><img src="/icon/icon-btn2.png" alt=""><span>Total earnings </span></li>
                <li class="btn n3" id="vacationdays"><img src="/icon/icon-btn3.png" alt=""><span>Vacation days</span>
                </li>
                <li class="btn n4" id="benefits"><img src="/icon/icon-btn4.png" alt=""><span>Average benefits
                        paid</span></li>

                <li class="btn n6 active" id="employee-management"><img src="/icon/icon-btn6.png" alt=""><span>Employee
                        Management</span>

                </li>
                <div class="box-child">
                    <button class="btn-view">View</button>
                    <button class="btn-add">Add</button>
                </div>

                <li class="btn n5" id="logout"><img src="/icon/icon-btn5.png" alt=""><span>Logout</span></li>
            </ul>
        </div>
        <!-- main content -->
        <div class="main-content">
            <!-- Logo CEO MEMO -->
            <section class="header">
                <h1 class="name-project">H-P system</h1>
                <span onclick="getAllNotification();">
                    <img id="alert-btn" src="/icon/Vector.png" alt="" />
                    <span class="number-info"></span>
                </span>
            </section>
            <!-- Icon Alert -->
            <div class="alert">
                <section class="alert-box">
                    <section class="title-alert">
                        <span>Important notification</span>
                    </section>
                    <ul class="box">
                        <!-- <li onclick="window.location.href = './detail_announcement_1'">thong bao 1</li>
            <li onclick="window.location.href = './detail_announcement_2'">thong bao 2</li> -->
                    </ul>
                </section>
            </div>

            <!-- Employee-ADD -->
            <div class="content ui7">
                <h1 class="personal-title">Personal Detail</h1>

                <form action="" method="" class="personal-info">
                    <div class="personal-info_left">
                        <label for="">First_Name:</label>
                        <input type="text" required>
                        <label for="">Middle_Name:</label>
                        <input type="text" required>
                        <label for="">Last_Name:</label>
                        <input type="text" required>
                        <label for="">Date_of_Birth:</label>
                        <input type="date" required>
                        <label for="">Current_Address 1: </label>
                        <input type="text">
                        <label for="">Current_Address 2: </label>
                        <input type="text">
                        <label for="">Current_ZIP: </label>
                        <input type="text">
                        <label for="">Current_Gender</label>
                        <select name="gender" id="">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <label for="">Current_Personal_email: </label>
                        <input type="email">
                    </div>
                    <div class="personal-infor_right">
                        <label for="">Social_security_number :</label>
                        <input type="number" required>
                        <label for="">Drivers_licenes: </label>
                        <input type="text" required>
                        <label for="">Current_City: </label>
                        <input type="text">
                        <label for="">Current_Country: </label>
                        <input type="text">
                        <label for="">Current_Phone_number: </label>
                        <input type="number">
                        <label for="">Current_marital_status: </label>
                        <input type="text">
                        <label for="">Shareholder_status: </label>
                        <select name="shareholder-status" id="">
                            <option value="fulltime">Fulltime</option>
                            <option value="partime">Partime</option>
                        </select>
                        <label for="">Ethnicity</label>
                        <input type="text">
                    </div>

                    <div class="employee-infor">
                        <h1 class="employee-title">EMPLOYEE DETAIL</h1>
                        <label for="">First Name:</label>
                        <input type="text" required>
                        <label for="">hire_date_for_working:</label>
                        <input type="text" required>
                        <label for="">work_comp_code:</label>
                        <input type="text" required>
                        <label for="">termination_day:</label>
                        <input type="text" required>
                        <label for="">rehire_date_for_working:</label>
                        <input type="text" required>
                        <label for="">Last_review_date:</label>
                        <input type="date" required>
                        <label for="">Employeement_status: </label>
                        <select name="employment-status" id="">
                            <option value="fulltime">Fulltime</option>
                            <option value="partime">Partime</option>
                        </select>
                    </div>
                    <button type="submit">Update </button>
                </form>

                <div class="checkbox-employee">
                    <input type="checkbox" name="employee-showInfo" id="employee-showInfo">
                    <label for="employee-showInfo">Edit employee</label>
                </div>


            </div>
        </div>
    </header>
    <script src="/js/chart.min.js"></script>
    <script src="js/ShowLabelCurrentBirthdaysMonth.js"></script>
    <script src="/js/ShowLabelExceededVacationDays.js"></script>
    <script src="/js/ShowLabelCertainDaysAniversary.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>