<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylesdash.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Management</title>
</head>

<body>
  <header>
    <!-- Nabar -->
    <div class="navbar">
      <div class="logo">
        <img src="/icon/LOGO.png" alt="" />
      </div>
      <ul class="menu">
        <li class="btn n1" id="dash">
          <img src="/icon/icon-btn1.png" alt="" /><span>DashBoard</span>
        </li>
        <li class="btn n2" id="earnings">
          <img src="/icon/icon-btn2.png" alt="" /><span>Total earnings </span>
        </li>
        <li class="btn n3" id="vacationdays">
          <img src="/icon/icon-btn3.png" alt="" /><span>Vacation days</span>
        </li>
        <li class="btn n4" id="benefits">
          <img src="/icon/icon-btn4.png" alt="" /><span>Average benefits paid</span>
        </li>
        <li class="btn n7" id="access-control">
          <img src="/icon/access_control.png" alt="" /><span>Access Control</span>
        </li>
        <li class="btn n6 active" id="employee-management">
          <img src="/icon/icon-btn6.png" alt="" /><span>Employee Management</span>
        </li>

        <div class="box-child">
          <button class="btn-view">View</button>
          <button class="btn-add">Add</button>
        </div>

        <li class="btn n5" id="logout">
          <img src="/icon/icon-btn5.png" alt="" /><span>Logout</span>
        </li>
      </ul>
    </div>
    <!-- main content -->
    <div class="main-content">
      <!-- Logo CEO MEMO -->
      <section class="header">
        <h1 class="name-project">H-P system</h1>
        <span onclick="getAllNotification();">
          <img id="alert-btn" src="/icon/Vector.png" alt="" />
          <span class="number-info"></span>
        </span>
      </section>
      <!-- Icon Alert -->
      <div class="alert">
        <section class="alert-box">
          <section class="title-alert">
            <span>Important notification</span>
          </section>
          <ul class="box">
          </ul>
        </section>
      </div>
      <div class="btn-em">
        <button onclick="window.location.href='/employee-view'" class="btn-view">View</button>
        <button onclick="window.location.href='/employee-add'" class="btn-add">Add</button>
      </div>
    </div>
  </header>
  <script src="/js/chart.min.js"></script>
  <script src="js/ShowLabelCurrentBirthdaysMonth.js"></script>
  <script src="/js/ShowLabelExceededVacationDays.js"></script>
  <script src="/js/ShowLabelCertainDaysAniversary.js"></script>
  <script src="/js/ShowLabelChangedDataNotification.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>