<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="content">
            <h2 class="h2LR">CEO MEMO</h2>
            <form action="/login_auth" id="loginForm" method="get">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" id="login">LOGIN</button>
            </form>
        </div>

    </div>
</body>

</html>