<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/stylesdash.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <title>Vacation Days</title>
</head>

<body>
  <header>
    <!-- Nabar -->
    <div class="navbar">
      <div class="logo">
        <img src="/icon/LOGO.png" alt="" />
      </div>
      <ul class="menu">
        <li class="btn n1" id="dash">
          <img src="/icon/icon-btn1.png" alt="" /><span>DashBoard</span>
        </li>
        <li class="btn n2" id="earnings">
          <img src="/icon/icon-btn2.png" alt="" /><span>Total earnings </span>
        </li>
        <li class="btn n3 active" id="vacationdays">
          <img src="/icon/icon-btn3.png" alt="" /><span>Vacation days</span>
        </li>
        <li class="btn n4" id="benefits">
          <img src="/icon/icon-btn4.png" alt="" /><span>Average benefits paid</span>
        </li>
        <li class="btn n7" id="access-control">
          <img src="/icon/access_control.png" alt="" /><span>Access Control</span>
        </li>
        <li class="btn n6 " id="employee-management">
          <img src="/icon/icon-btn6.png" alt="" /><span>Employee Management</span>
        </li>

        <div class="box-child">
          <button class="btn-view">View</button>
          <button class="btn-add">Add</button>
        </div>

        <li class="btn n5" id="logout">
          <img src="/icon/icon-btn5.png" alt="" /><span>Logout</span>
        </li>
      </ul>
    </div>
    <!-- main content -->
    <div class="main-content">
      <!-- Logo CEO MEMO -->
      <section class="header">
        <h1 class="name-project">H-P system</h1>
        <span onclick="getAllNotification();">
          <img id="alert-btn" src="/icon/Vector.png" alt="" />
          <span class="number-info"></span>
        </span>
      </section>
      <!-- Icon Alert -->
      <div class="alert">
        <section class="alert-box">
          <section class="title-alert">
            <span>Important notification</span>
          </section>
          <ul class="box">
          </ul>
        </section>
      </div>
      <!-- Number of vaccation days -->
      <div class="content ui3">
        <section class="fillter fillter-ui3">
          <div class="radio-btn choice-year">
            <input type="radio" id="age1" name="year" value="Paid To Date" />
            <label for="age1">Paid To Date</label><br />
            <input type="radio" id="age2" name="year" value="Paid Last Year" />
            <label for="age2">Paid Last Year</label><br />
          </div>
          <img src="/icon/img 6.png" alt="" />
          <div class="dropdown">
            <div class="btn">
              <button id="titleOption" class="dropbtn">Option</button>
              <img src="/icon/dropdown.png" alt="" />
            </div>
            <div class="dropdown-content">
              <a class="btn-dynamic choice" href="#" value="SHAREHOLDER_STATUS">Shareholder</a>
              <a class="btn-dynamic choice" href="#" value="GENDER">Gender</a>
              <a class="btn-dynamic choice" href="#" value="TYPE_OF_WORK">Employee Status</a>
              <a class="btn-dynamic choice" href="#" value="ETHNICITY">Ethnicity</a>
            </div>
          </div>
          <div class="dynamic-box">
            <div class="dropdown 1">
              <div class="btn">
                <button class="dropbtn">Shareholder</button>
                <img src="/icon/dropdown.png" alt="" />
              </div>
              <div class="dropdown-content">
                <a href="#">Shareholder</a>
                <a href="#">Non-shareholder</a>
              </div>
            </div>
          </div>
          <div class="dynamic-box">
            <div class="dropdown 1">
              <div class="btn">
                <button class="dropbtn">Male</button>
                <img src="/icon/dropdown.png" alt="" />
              </div>
              <div class="dropdown-content">
                <a href="#">Male</a>
                <a href="#">Female</a>
              </div>
            </div>
          </div>
          <div class="dynamic-box">
            <div class="dropdown 1">
              <div class="btn">
                <button class="dropbtn">Full-time</button>
                <img src="/icon/dropdown.png" alt="" />
              </div>
              <div class="dropdown-content">
                <a href="#">Full-time</a>
                <a href="#">Part-time</a>
              </div>
            </div>
          </div>
          <div class="dynamic-box">
            <div class="dropdown 1">
              <div class="btn">
                <button class="dropbtn"></button>
                <img src="/icon/dropdown.png" alt="" />
              </div>
              <div class="dropdown-content">
                <% ethnicity.forEach((item)=>{%>
                  <a href="#">
                    <%=item.ETHNICITY%>
                  </a>
                  <%})%>
              </div>
            </div>
          </div>
          <button style="
                padding: 5px 15px;
                border: none;
                background-color: #1081cc;
                color: white;
                font-weight: bold;
                border-radius: 10px;
              " onclick="getData();">
            Submit
          </button>
        </section>
        <div class="table-content">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th>Paid To Date</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Vacation Days</th>
              </tr>
            </thead>
            <tbody class="vacation_days-table-data"></tbody>
          </table>
        </div>

        <div class="chart-info vacationdays">
          <h1>Total number of vacation days</h1>
          <div class="content-chart">
            <div class="values">
              <span>160</span>
              <span>140</span>
              <span>120</span>
              <span>100</span>
              <span>80</span>
              <span>60</span>
              <span>40</span>
              <span>20</span>
            </div>
            <div class="chart">
              <div class="bar bar_color" style="height: 100px"></div>
              <div class="bar bar_color" style="height: 77px"></div>
              <div class="bar bar_color" style="height: 40px"></div>
              <div class="bar bar_color" style="height: 20px"></div>
              <div class="bar bar_color" style="height: 50px"></div>
              <div class="bar bar_color" style="height: 60px"></div>
              <div class="bar bar_color" style="height: 70px"></div>
              <div class="bar bar_color" style="height: 80px"></div>
              <div class="bar bar_color" style="height: 90px"></div>
              <div class="bar bar_color" style="height: 100px"></div>
              <div class="bar bar_color" style="height: 110px"></div>
              <div class="bar bar_color" style="height: 120px"></div>
            </div>
          </div>
          <div class="labels">
            <span>Jan</span>
            <span>Feb</span>
            <span>Mar</span>
            <span>Apr</span>
            <span>May</span>
            <span>Jun</span>
            <span>Jul</span>
            <span>Aug</span>
            <span>Sep</span>
            <span>Oct</span>
            <span>Nov</span>
            <span>Dec</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script src="/js/ShowVacationDays.js"></script>
  <script src="/js/ShowLabelCurrentBirthdaysMonth.js"></script>
  <script src="/js/ShowLabelExceededVacationDays.js"></script>
  <script src="/js/chart.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/ShowLabelCertainDaysAniversary.js"></script>
  <script src="/js/ShowLabelChangedDataNotification.js"></script>
</body>

</html>